<div class="container-fluid">
    <div class="matn">
        <div class="cont">
            <label class="head">STRANGER<div class="under">website</div></label>

            <div class="img-ang">
                <img src="../../../assets/images/main-pic.png" />
            </div>

        </div>
    </div>
    <div class="img-header"></div>

    <ng-container *ngIf="isAuthenticate;else templateName">
        <div class="wlc">
            <p>wellcome {{userName | uppercase}}</p>
        </div>

    </ng-container>
    <ng-template #templateName>
        <div class="dialog-btn">
            <div class="example-container">
                <login-form></login-form>
            </div>
        </div>
    </ng-template>

</div>