<div class="cont">
    <b>تکنولوژی استفاده شده :</b>
    <div class="container">
        <div class="card card-2">
            <img class="card__img" src="../../../assets/images/info-image/Angular.png" />
            <!-- <div class="card__info">
                <p class="card__details">
                    استفاده از انگولار برای فرم کلی برنامه
                </p>
            </div> -->
        </div>
        <div class="card card-3">
            <img class="card__img" src="../../../assets/images/info-image/bootstrap.png" />
            <!-- <div class="card__info">
                <p class="card__details">
                    استفاده از بوت استراپ برای فرم ها
                </p>
            </div> -->
        </div>
        <div class="card card-5">
            <img class="card__img" src="../../../assets/images/info-image/Sass.png" />
            <!-- <div class="card__info">
                <p class="card__details">
                    استفاده از ساس برای فرم ها
                </p>
            </div> -->
        </div>
        <div class="card card-4">
            <img class="card__img" src="../../../assets/images/info-image/material.png" />
            <!-- <div class="card__info">
                <p class="card__details">
                    استفاده از متریال دیزاین برای فرم ها
                </p>
            </div> -->
        </div>
    </div>
    <div class="info">
        <p>فرم کلی وبسایت با فریم ورک <b>Angular</b> نوشته شده است.</p>
        <p>برای طراحی فرم ها از<b>bootstrap</b> استفاده شده است.</p>
        <p>برای طراحی منو کشویی و هدر و... از <b>Material Design</b> استفاده شده است.</p>
        <p>برای نمایش اعلانات از <b>ToastR</b> استفاده شده است.</p>
    </div>
</div>