<div class="cont">
    <b>تکنولوژی استفاده شده :</b>
    <div class="container">
        <div class="card card-2">
            <img class="card__img" src="../../../assets/images/info-image/Angular.png" />
        </div>
        <div class="card card-3">
            <img class="card__img" src="../../../assets/images/info-image/bootstrap.png" />
        </div>
        <div class="card card-5">
            <img class="card__img" src="../../../assets/images/info-image/Sass.png" />
        </div>
        <div class="card card-4">
            <img class="card__img" src="../../../assets/images/info-image/material.png" />
        </div>
    </div>
    <div class="info">
        <p>فرم کلی وبسایت با فریم ورک <b>Angular</b> نوشته شده است.</p>
        <p>برای طراحی فرم ها از<b>Bootstrap</b> استفاده شده است.</p>
        <p>برای طراحی منو کشویی و هدر و... از <b>Material Design</b> استفاده شده است.</p>
        <p>برای نمایش اعلانات از <b>ToastR</b> استفاده شده است.</p>
        <p>از <b>Ui Loader</b> برای نمایش لود صفحه اصلی استفاده شده است .</p>
        <p>استفاده از <b>Token Authenticate</b> برای لاگین شدن .</p>
    </div>
</div>