<div class="container-fluid ">
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-12">
                <h1>Category With HttpClient</h1>
                <div class="list">
                    <div *ngFor="let item of categoryWithHttpClient">
                        <a>{{item.categoryName}}</a>
                        <span class="ml-5 mr-5">{{item.description}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h1>Category With Service</h1>
                <div class="list">
                    <div *ngFor="let prod of categoryWithService">
                        <a>{{prod.categoryName}}</a>
                        <span class="ml-5 mr-5">{{prod.description}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 m-2">
            <h1>Products With Service</h1>
            <div class="list">
                <div *ngFor="let item of productList">
                    <div>
                        <div>نام محصول : {{item.productName}}</div>
                        <I> دسته بندی محصول : {{item.categoryName}}</I>
                        <b class="mr-4">قیمت : {{item.unitPrice}} $</b><br />
                        <span>توضیحات محصول : {{item.supplierName}}</span>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>